Diagnostics:
  ClangTidy:
    Add: [readability-*]
    Remove:
      [
        readability-identifier-length,
        readability-function-cognitive-complexity,
        readability-magic-numbers,
      ]
  UnusedIncludes: Strict

Index:
  Background: Build
