Checks: >
  -*,
  readability-*,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -readability-magic-numbers

WarningsAsErrors: "*"

HeaderFilterRegex: ".*"
SystemHeaders: false
