*.o
*.out
*.log

.vscode/
.vscode/settings.json
*.swp

.cache

*.tmp
*.bak

__pycache__/
*.pyc

*.so

node_modules/

.env

/.git

/static/
tests/__pycache__/

.git/*

.vscode/*
perf.data*
.dump.aux

mengine
libmengine.a

.clangd

tests/**/*.dSYM/
tests/**/test_*
!tests/**/test_*.c
!tests/**/test_*.h
