*.o
*.out
*.log

.vscode/
.vscode/settings.json
*.swp

.cache

*.tmp
*.bak

__pycache__/
*.pyc

*.so

node_modules/

.env

/.git

/static/
tests/__pycache__/

.git/*

.vscode/*
perf.data*
.dump.aux

mengine
libmengine.a

tests/**/*
!tests/examples/
!tests/metalanguage/
!tests/commandlanguage/
!tests/helpers/
!tests/**/*.c
!tests/**/*.h